<div id="sidebar">
    <DxGridLayout CssClass="page-layout" RowSpacing="1.5rem">
        <Rows>
            <DxGridLayoutRow Areas="header menu-button" Height="auto"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="navigation navigation"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="footer footer" Height="auto"></DxGridLayoutRow>
        </Rows>
        <Columns>
            <DxGridLayoutColumn></DxGridLayoutColumn>
            <DxGridLayoutColumn Width="auto"></DxGridLayoutColumn>
        </Columns>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="sidebar-header">
                <Template>
                    <img class="logo" src="images/logo.svg" alt="DevExpress logo" />
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="menu-button" CssClass="sidebar-header menu-button-container">
                <Template>
                    <div class="menu-button" onclick="document.getElementById('sidebar').classList.toggle('expanded')"></div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="navigation" CssClass="layout-item">
                <Template>
                    <div onclick="document.getElementById('sidebar').classList.remove('expanded')">
                        <DxMenu Orientation="@Orientation.Vertical" CssClass="menu">
                            <Items>
                                <!-- Distintos apartados de la web urls -->
                                <DxMenuItem NavigateUrl="/" Text="Inicio" CssClass="menu-item" IconCssClass="icon home-icon"></DxMenuItem>
                                <DxMenuItem NavigateUrl="/listaVentas" Text="Ventas" CssClass="menu-item" IconCssClass="icon home-icon"></DxMenuItem>
                            </Items>
                        </DxMenu>
                    </div>
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>